html,body{
   height: 100%;
 }
body{
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 13px;
}

*{
  box-sizing: border-box;
}
